@inject IStringLocalizer<Lang> _localizer

@{
    ViewData["Title"] = "ContactIndex";
}
<div class="p-2"></div>
<div class="page-header d-flex align-items-center">
    <div class="container position-relative">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
                <h2>@_localizer["page.Contact"]</h2>
                <p>@_localizer["contact.Text"]</p>
            </div>
        </div>
    </div>
</div><!-- End Page Header -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="row gy-4 justify-content-center">

            <div class="col-lg-3">
                <div class="info-item d-flex">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                        <h4>@_localizer["contact.Location"]:</h4>
                        <p>Esenyurt, İstanbul / Türkiye</p>
                    </div>
                </div>
            </div><!-- End Info Item -->

            <div class="col-lg-3">
                <div class="info-item d-flex">
                    <i class="bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h4>@_localizer["contact.Email"]:</h4>
                        <p>0ogzhn000@gmail.com</p>
                    </div>
                </div>
            </div><!-- End Info Item -->

            <div class="col-lg-3">
                <div class="info-item d-flex">
                    <i class="bi bi-phone flex-shrink-0"></i>
                    <div>
                        <h4>@_localizer["contact.Phone"]:</h4>
                        <p>+90 546 251 3496</p>
                    </div>
                </div>
            </div><!-- End Info Item -->

        </div>

        <div class="row justify-content-center mt-4">

            <div class="col-lg-9">
                <form method="post" asp-controller="Contact" asp-action="Index" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder=@_localizer["contact.Name"] required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder=@_localizer["contact.Email"] required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder=@_localizer["contact.Subject"] required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder=@_localizer["contact.Message"] required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">@_localizer["contact.Loading"]</div>
                        <div class="error-message"></div>
                        <div class="sent-message">@_localizer["contact.Success"]</div>
                    </div>
                    <div class="text-center"><button type="submit">@_localizer["contact.Send"]</button></div>
                </form>
            </div><!-- End Contact Form -->

        </div>

    </div>
</section><!-- End Contact Section -->
