@inject IStringLocalizer<Lang> _localizer

@{
    ViewData["Title"] = "Index";
}

<<<<<<< HEAD
<<<<<<< HEAD


<div class="p-2"></div>
=======
>>>>>>> 4a39f5128a35ba87ebd43a6cc7154495540f2e91
=======
>>>>>>> 4a39f5128a35ba87ebd43a6cc7154495540f2e91
<div class="page-header d-flex align-items-center">
    <div class="container position-relative">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
<<<<<<< HEAD
<<<<<<< HEAD
                 
                <h2>@_localizer["admin.Title"]</h2>
=======
=======
>>>>>>> 4a39f5128a35ba87ebd43a6cc7154495540f2e91
                <h2>Admin İşlemleri</h2>

               

<<<<<<< HEAD
>>>>>>> 4a39f5128a35ba87ebd43a6cc7154495540f2e91
=======
>>>>>>> 4a39f5128a35ba87ebd43a6cc7154495540f2e91
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card bg-dark">
<<<<<<< HEAD
<<<<<<< HEAD
                <div class="card-body -dark">
                    <h5 class="card-title text-white">@_localizer["admin.AddAnimalCategory"]</h5>
                    <a asp-controller="Category" asp-action="Update_Insert" class="btn btn-info">@_localizer["admin.Add"]</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark">
                <div class="card-body -dark">
                    <h5 class="card-title text-white">@_localizer["admin.AddOrRemoveAnimal"]</h5>
                    <a asp-controller="Admin" asp-action="Wait" class="btn btn-info">@_localizer["admin.Process"]</a>
                </div>
            </div>
        </div>
    </div>
</div>
=======
=======
>>>>>>> 4a39f5128a35ba87ebd43a6cc7154495540f2e91
            <div class="card-body -dark">
        <h5 class="card-title text-white">Hayvan Çeşit Ekle</h5>
       @* <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                    <a asp-controller="Category" asp-action="index" class="btn btn-info  ">Ekle</a>
      </div>
    </div>
        </div>
        <div class="col">
              <div class="card bg-dark">
            <div class="card-body -dark">
                    <h5 class="card-title text-white"> Barınağa Hayvan Kabul Ve Sahiplendirme İşlemleri </h5>

                    <a asp-controller="Admin" asp-action="Wait" class="btn btn-info">Ekle </a>
      </div>
    </div>
        </div>
        </div>
    </div>
</div>
<<<<<<< HEAD
>>>>>>> 4a39f5128a35ba87ebd43a6cc7154495540f2e91
=======
>>>>>>> 4a39f5128a35ba87ebd43a6cc7154495540f2e91
