@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<ProgramlamaYazProje.Models.Animal>

@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Gallery Section ======= -->
<<<<<<< HEAD
<<<<<<< HEAD
<div class="p-2"></div>
<section id="gallery" class="gallery" style="margin-top:120px">

    <div class="container-fluid">
        @ViewBag.PageHome
        @ViewBag.PageAbout
=======
<section id="gallery" class="gallery">
    <
   @* <div class="container-fluid">
>>>>>>> 4a39f5128a35ba87ebd43a6cc7154495540f2e91
=======
<section id="gallery" class="gallery">
    <
   @* <div class="container-fluid">
>>>>>>> 4a39f5128a35ba87ebd43a6cc7154495540f2e91
        <div class="row gy-4 justify-content-center">
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <div class="col-xl-3 col-lg-4 col-md-6" style="width:250px; height:200px;">
                        <div class="gallery-item" style="width:100%; height:100%;">
                            <img src="@item.PhotoURL" class="img-fluid" alt="" style="width:100%; height:100%;">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
<<<<<<< HEAD
<<<<<<< HEAD
                                <a href="@item.PhotoURL" title=@item.Name class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
=======
                                <a href="assets/img/gallery/gallery-1.jpg" title=item.Name class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
>>>>>>> 4a39f5128a35ba87ebd43a6cc7154495540f2e91
=======
                                <a href="assets/img/gallery/gallery-1.jpg" title=item.Name class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
>>>>>>> 4a39f5128a35ba87ebd43a6cc7154495540f2e91
                                    <a asp-controller="Animal" asp-action="Detail" asp-route-id=@item.Id class="details-link"><i class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
<<<<<<< HEAD
<<<<<<< HEAD
    </div>
=======
    </div>*@
    <h1>@localizer["Hayvan"]</h1>
    <h1>@localizer["Hayvan"]</h1>
     <h1>@localizer["Hayvan"]</h1>
      <h1>@localizer["Hayvan"]</h1>
       <h1>@localizer["Hayvan"]</h1>
        <h1>@_localization.Getkey("Hayvan")</h1>

>>>>>>> 4a39f5128a35ba87ebd43a6cc7154495540f2e91
</section><!-- End Gallery Section -->
=======
    </div>*@
    <h1>@localizer["Hayvan"]</h1>
    <h1>@localizer["Hayvan"]</h1>
     <h1>@localizer["Hayvan"]</h1>
      <h1>@localizer["Hayvan"]</h1>
       <h1>@localizer["Hayvan"]</h1>
        <h1>@_localization.Getkey("Hayvan")</h1>

</section><!-- End Gallery Section -->
>>>>>>> 4a39f5128a35ba87ebd43a6cc7154495540f2e91
